* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: sans-serif;
  font-weight: 300;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}

body {
  background-color: black;
  height: calc(100vh - 5px);
}
#canvas {
  margin: 4px 0px 0px 4px;
  border: 1px solid #444;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
#canvlayer {
  margin: 4px 0px 0px 4px;
  position: absolute;
  top: 0px;
}
#albert {
  width: 300px;
  height: 200px;
  top: 30px;
  left: 40px;
  font-size: 25px;
}
#wasd {
  width: 300px;
  height: 200px;
  bottom: 30px;
  right: 40px;
  font-size: 18px;
}
#github {
  right: 50px;
  bottom: 40px;
  font-size: 50px;
  margin: 0px;
}
#fb {
  right: 125px;
  bottom: 40px;
  font-size: 47px;
  margin: 0px;
}
#resume {
  bottom: 20px;
  left: 40px;
  font-size: 18px;
}
.link {
  color: blue;
}
#lava {
  font-size: 14px;
  color: white;
  bottom: 8px;
  padding: 0px;
  margin: 0px;
  left: calc(50vw - 26px);
}

#broat {
  opacity: 0;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 660px;
  bottom: 25px;
}
#broatlabel {
  opacity: 0;
  left: 650px;
  font-size: 18px;
  bottom: 160px;
}

#about {
  position: absolute;
  top: 30px;
  right: 40px;
  line-height: 20px;
  font-size: 22px;
  text-align: right;
}

h3 {
  font-size: 18px;
  position: absolute;
}


@media all and (max-width: 880px) {
  body {
    max-height: 100vh;
  }
  #wasd {
    display: none;
  }
  #about {
    top: 100px;
    text-align: left;
    left: 40px;
  }
  #resupdate {
    display: none;
  }
  #resume {
    bottom: 35px;
  }
  #resume a {
    font-weight: bold !important;
  }

  #fb {
    display: none;
  }
}

.marquee {
  opacity: 0;
  bottom: 82px;
  height: 25px;
  width: calc(98vw - 60px);
  margin: 0px 40px;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  height: 30px;
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;

  position: absolute;
  overflow: hidden;
  width: 100%;
  animation: marquee 15s linear infinite;
}


@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


.hide {
  display: none;
}
.visible {
  transition: all ease-in 2s;
  opacity: 1 !important;
}

.fade {
  transition: all ease-out 2s;
  opacity: 0;
}

.sail {
  transform: translate(500px, 0px) !important;
}

.moveUp {
  transition: all ease-in .3s;
  -ms-transform: translate(0px, -70px); /* IE 9 */
  -webkit-transform: translate(0px, -70px); /* Safari */
  transform: translate(0px, -70px);
}

.floating {

  -webkit-animation-name: float;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: float;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes float{
  from {-webkit-transform:translate(0, 0px);}
  50% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes float {
  from {-moz-transform:translate(0, 0px);}
  50% {-moz-transform:translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}
}
